<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd"> 
			
			<!-- Go to spring-beans.jar => beans.factory.xml => spring-beans.dtd file at line  36 you will get this line-->

<!--
<beans  xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   -->
<beans default-init-method="init" default-destroy-method="destroy">
   <bean id = "helloWorld" class = "com.tutorialspoint.HelloWorld" >
      <property name = "message" value = "Hello Nikhil!"/>
   </bean>
   
   <bean class="com.tutorialspoint.InitHelloWorld"></bean>
</beans>